[submodule "depends/arithmetic"]
	path = depends/arithmetic
	url = https://github.com/sequencer/arithmetic
[submodule "depends/hardfloat"]
	path = depends/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat
[submodule "depends/chisel-interface"]
	path = depends/chisel-interface
	url = https://github.com/chipsalliance/chisel-interface
[submodule "depends/chisel"]
	path = depends/chisel
	url = https://github.com/chipsalliance/chisel
[submodule "depends/t1"]
	path = depends/t1
	url = https://github.com/chipsalliance/t1
[submodule "depends/rvdecoderdb"]
	path = depends/rvdecoderdb
	url = https://github.com/sequencer/rvdecoderdb
[submodule "depends/riscv-opcodes"]
	path = depends/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes
[submodule "depends/fpnew"]
	path = depends/fpnew
	url = https://github.com/OpenGPGPU/cvfpu.git
	branch = main
